<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <title>Restock Barang</title>
    <object th:insert="~{fragments/fragment :: css}" th:remove="tag"></object>
    <object th:insert="~{fragments/fragment :: js}" th:remove="tag"></object>
</head>

<body>
    <nav th:replace="~{fragments/fragment :: navbar('gudang')}"></nav>
    <div class="container py-lg-5">
        <div class="card mx-lg-5">
            <h2 class="card-header text-center p-3">
                Restock Gudang
            </h2>
            <div class="card-body">
                <table class="table table-borderless">
                    <tbody>
                        <tr>
                            <td>Nama Gudang</td>
                            <td th:text="${': ' + dto.gudang.nama}"></td>
                        </tr>
                        <tr>
                            <td>Alamat Gudang</td>
                            <td th:text="${': ' + dto.gudang.alamatGudang}"></td>
                        </tr>
                    </tbody>
                </table>


                <form th:action="@{'/gudang/'+${dto.gudang.id}+'/restock-barang'}" th:object="${dto}" method="POST">
                    <input class="form-control" type="text" th:field="*{gudang}" hidden />
                    <div class="text-right">
                        <button class="my-4 ml-2 btn btn-primary" id="add-row" name="addRow">+ Tambah Row</button>
                    </div>

                    <table class="table table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">No</th>
                                <th scope="col">Barang</th>
                                <th scope="col">Kuantitas</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody id="container">
                            <tr th:each="gudangBarang, iterationStatus : ${dto.listRestock}">
                                <td th:text="${iterationStatus.index}+1">

                                </td>
                                <td>
                                    <select th:field="*{listRestock[__${iterationStatus.index}__].barang}"
                                        class="form-control gap-2">
                                        <div th:each="barang : ${listBarang}">
                                            <option th:value="${barang.sku}" th:text="${barang.merk}">
                                            </option>
                                        </div>
                                    </select>
                                </td>
                                <td>
                                    <input type="number" th:field="*{listRestock[__${iterationStatus.index}__].stok}"
                                        class="form-control" min="0" step="1" placeholder="Jumlah stok" />
                                </td>
                                <td>
                                    <button th:value="${iterationStatus.index}" class="btn btn-danger" type="submit"
                                        name="deleteRow">
                                        Hapus
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="text-center">
                        <a th:href="@{'/gudang/'+${dto.gudang.id}}" class=" mx-2 btn btn-danger">Batal</a>
                        <button class=" mx-2 btn btn-primary">Simpan</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</body>

</html>